<div class="row">
  <div class="col text-center">
    <div class="order-confirmation-header">
      <div><img src="assets/images/demo.png"></div>
        <div class="order-confirmation-msg">
          <p>Order</p>
          <p>Confirmation</p>
        </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="order-confirmation-textMsg text-center">
        Great! your phone coupon code is shown below....
    </div>
    
  </div>
</div>
<div class="row">
  <coupon></coupon>
</div>