<div class="row">
  <div class="col text-center">
    <div class="order-confirmation-header">
      <div><img src="assets/images/demo.png"></div>
        <div class="order-confirmation-msg">
          <p>Order</p>
          <p>Confirmation</p>
        </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="order-confirmation-textMsg text-center">
        Great! your phone coupon code is shown below and it has been sent to the email provider. 
        It is a ... available in <a>My Rewards</a>
    </div>
      </div>
</div>
<div class="row">
  <!-- <coupon></coupon> -->
    <div class="col" style="display: flex;align-items: center;justify-content: center">
      <div style="width:200px;height:200px;border:1px dashed;"></div>
    </div>
</div>
<div class="row">
  <div class="col text-center order-confirmation-subheader">
    <span>STEPS TO REDEEM YOU PHONE COUPON</span>
  </div>
</div>
<div class="row">
  <div class="col text-center order-confirmation-instruction">
    To redeem your Phone Coupon please follow next steps:
  </div>
</div>
<div class="row">
  <div class="col order-confirmation-steps">
    <div class="step-icon">
      <img src="assets/images/demo.png">
    </div>
    <div class="step-text">
      Click on the "BUY PHONE NOW" button, it will take you to the catalog phones.
    </div>
  </div>
</div>
<div class="row">
    <div class="col order-confirmation-steps">
      <div class="step-icon">
        <img src="assets/images/demo.png">
      </div>
      <div class="step-text">
        Click on the "BUY PHONE NOW" button, it will take you to the catalog phones.
      </div>
    </div>
  </div>
